<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% comment %} Imports {% endcomment %}
  <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static '/output.css' %}">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <title>XRays</title>
</head>
<body class="antialiased">

  <main class="grid grid-cols-12 gap-4">
    <div class="col-span-3"><c-sidebar /></div>
    <div class="col-span-9 p-6">
      {% block content %}{% endblock %}
    </div>
  </main>
    
</body>
</html>