{% extends 'base.html' %}

{% block content %}

<section>
  <h1 class="text-4xl font-bold tracking-tight">Detalle Diagnóstico</h1>
<p><strong>Type:</strong> {{ diagnosis.xray_type }}</p>
            <p><strong>Date:</strong> {{ diagnosis.date_of_diagnosis }}</p>
            <p><strong>Radiologist:</strong> {{ diagnosis.radiologist_name }}</p>
            <p><strong>Severity:</strong> {{ diagnosis.severity }}</p>
            <h2 class="mt-6 text-2xl font-semibold">Findings</h2>
            <p class="text-gray-700">{{ diagnosis.detailed_findings }}</p>
            {% if diagnosis.comments %}
                <h2 class="mt-6 text-2xl font-semibold">Comments</h2>
                <p class="text-gray-700">{{ diagnosis.comments }}</p>
            {% endif %}
            <a href="{% url 'home' %}" class="inline-block mt-6 text-blue-600 hover:underline">Back to Diagnoses</a>
</section>

{% endblock %}