{% extends 'base.html' %}

{% block content %}

<section>
  <h1 class="text-4xl font-bold tracking-tight">Diagnosticos</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
    <div class="bg-gray-100 p-8 rounded-lg aspect-video"></div>
  </div>
</section>

{% endblock %}