{% extends 'base.html' %}

{% block content %}

<section>
  <h1 class="text-4xl font-bold tracking-tight">Diagnosticos</h1>
    <ul class="mt-4">
        {% for item in diagnosis %}
            <li class="py-4 border-b">
                <a href="{% url 'diagnosis_detail' item.id %}" class="block text-blue-600 hover:underline">
                    {{ item.patient_name }} - {{ item.xray_type }} - {{ item.date_of_diagnosis }}
                </a>
                <p class="text-sm text-gray-600">{{ item.diagnosis_summary|truncatewords:100 }}</p>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}